<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
    <title>Login</title>
</head>
<body>
  <div class="wrapper fadeInDown">
    <div id="formContent">

      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://cdn-icons-png.flaticon.com/512/1177/1177568.png"
             id="icon" alt="User Icon" width="50" />

          <h1 class="title" style="font-size: 15px"><strong> Acesso ao Carne Leão </strong></h1>
      </div>

      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
      

    </div>
  </div>

</body>
</html>